# Salin menjadi .env lalu isi. Jangan commit .env.
PRODUCTION=False
SECRET_KEY=F5wkBiY8R7G762Ow81-S6nZ7rpEZhek2nd2R3962VRB-AtGmlObeX9H5VVlSHU3QJwo
ADMIN_URL=kelola-ganti-ini/
SITE_NAME=PilihCuk
OFF_USER_AGENT="PilihCuk/0.1 muhammad.rayyan43@ui.ac.id"

# Hanya saat PRODUCTION=True (isi lewat dashboard PWS)
ALLOWED_HOSTS=https://muhammad-rayyan43-PilihCuk.pws.cs.ui.ac.id/
CSRF_TRUSTED_ORIGINS=https://muhammad-rayyan43-PilihCuk.pws.cs.ui.ac.id/
DB_NAME=muhammad.rayyan43
DB_HOST=152.118.29.139
DB_PORT=5432
DB_USER=muhammad.rayyan43
DB_PASSWORD=y3M38lev
SCHEMA=tutorial
PRODUCTION=True

# Email (dev: dicetak ke konsol)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend