{% load ui %}
<div class="field">
  <label class="label" for="{{ field.id_for_label }}">{{ field.label }}{% if not field.field.required %} <span class="optional">(opsional)</span>{% endif %}</label>
  {% if field.help_text %}<p class="help" id="{{ field.auto_id }}_help">{{ field.help_text }}</p>{% endif %}
  {{ field|control }}
  {% if field.errors %}<div id="{{ field.auto_id }}_error">{% for error in field.errors %}<p class="error-text">{% icon "circle-alert" 16 %}<span>{{ error }}</span></p>{% endfor %}</div>{% endif %}
</div>
